<a href="https://colab.research.google.com/github/Aloushka/AIAlpha/blob/master/Copy_of_Multi_Indexing_backtesting_pynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd


test=pd.DataFrame({'Ali':[11,22,3,65,5,6,117,8,9,9,117,23,200],
                   'Hady':[11,12,13,13,15,16,17,18,19,19,16,15,18],
                   'Cities':['Beirut','Hamburg','Beirut','Paris','Beirut','Paris','Beirut','London','Beirut','Beirut','Paris','London','Hamburg'],
                   'Conditions':['True','False','True','True','False','True','True','False','True','False','False','True','True']})

In [ ]:
test

    Ali  Hady   Cities Conditions
0    11    11   Beirut       True
1    22    12  Hamburg      False
2     3    13   Beirut       True
3    65    13    Paris       True
4     5    15   Beirut      False
5     6    16    Paris       True
6   117    17   Beirut       True
7     8    18   London      False
8     9    19   Beirut       True
9     9    19   Beirut      False
10  117    16    Paris      False
11   23    15   London       True
12  200    18  Hamburg       True

In [ ]:
test.groupby('Cities').count()

         Ali  Hady  Conditions
Cities
Beirut     6     6           6
Hamburg    2     2           2
London     2     2           2
Paris      3     3           3

In [ ]:
test.groupby('Cities')['Conditions'].count()

Cities
Beirut     6
Hamburg    2
London     2
Paris      3
Name: Conditions, dtype: int64

In [ ]:
test.stack()

0   Ali                11
    Hady               11
    Cities         Beirut
    Conditions       True
1   Ali                22
    Hady               12
    Cities        Hamburg
    Conditions      False
2   Ali                 3
    Hady               13
    Cities         Beirut
    Conditions       True
3   Ali                65
    Hady               13
    Cities          Paris
    Conditions       True
4   Ali                 5
    Hady               15
    Cities         Beirut
    Conditions      False
5   Ali                 6
    Hady               16
    Cities          Paris
    Conditions       True
6   Ali               117
    Hady               17
    Cities         Beirut
    Conditions       True
7   Ali                 8
    Hady               18
    Cities         London
    Conditions      False
8   Ali                 9
    Hady               19
    Cities         Beirut
    Conditions       True
9   Ali                 9
    Hady               19
    Cities         Beirut
    Conditions      False
10  Ali               117
    Hady               16
    Cities          Paris
    Conditions      False
11  Ali                23
    Hady               15
    Cities         London
    Conditions       True
12  Ali               200
    Hady               18
    Cities        Hamburg
    Conditions       True
dtype: object

In [ ]:
test.sort_values('Cities')

    Ali  Hady   Cities Conditions
0    11    11   Beirut       True
2     3    13   Beirut       True
4     5    15   Beirut      False
6   117    17   Beirut       True
8     9    19   Beirut       True
9     9    19   Beirut      False
1    22    12  Hamburg      False
12  200    18  Hamburg       True
7     8    18   London      False
11   23    15   London       True
3    65    13    Paris       True
5     6    16    Paris       True
10  117    16    Paris      False

In [ ]:
test.sort_values(['Cities','Ali'])
#sorted by Cities first, then within cities sorted by ascending

    Ali  Hady   Cities Conditions
2     3    13   Beirut       True
4     5    15   Beirut      False
8     9    19   Beirut       True
9     9    19   Beirut      False
0    11    11   Beirut       True
6   117    17   Beirut       True
1    22    12  Hamburg      False
12  200    18  Hamburg       True
7     8    18   London      False
11   23    15   London       True
5     6    16    Paris       True
3    65    13    Paris       True
10  117    16    Paris      False

In [ ]:
test.sort_values(['Cities','Ali'], ascending=[True,True])

    Ali  Hady   Cities Conditions
2     3    13   Beirut       True
4     5    15   Beirut      False
8     9    19   Beirut       True
9     9    19   Beirut      False
0    11    11   Beirut       True
6   117    17   Beirut       True
1    22    12  Hamburg      False
12  200    18  Hamburg       True
7     8    18   London      False
11   23    15   London       True
5     6    16    Paris       True
3    65    13    Paris       True
10  117    16    Paris      False

In [ ]:
test.sort_values(['Cities','Ali'], ascending=[True,False])

    Ali  Hady   Cities Conditions
6   117    17   Beirut       True
0    11    11   Beirut       True
8     9    19   Beirut       True
9     9    19   Beirut      False
4     5    15   Beirut      False
2     3    13   Beirut       True
12  200    18  Hamburg       True
1    22    12  Hamburg      False
11   23    15   London       True
7     8    18   London      False
10  117    16    Paris      False
3    65    13    Paris       True
5     6    16    Paris       True

In [ ]:
dtf=test.sort_values(['Cities','Ali'], ascending=[True,False])
dtt=test.sort_values(['Cities','Ali'], ascending=[True,True])

In [ ]:
dtf.groupby('Cities').mean()

<ipython-input-11-77c3d3d323b0>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  dtf.groupby('Cities').mean()

                Ali       Hady
Cities
Beirut    25.666667  15.666667
Hamburg  111.000000  15.000000
London    15.500000  16.500000
Paris     62.666667  15.000000

In [ ]:
dtf.set_index(['Conditions','Cities'])

                    Ali  Hady
Conditions Cities
True       Beirut   117    17
           Beirut    11    11
           Beirut     9    19
False      Beirut     9    19
           Beirut     5    15
True       Beirut     3    13
           Hamburg  200    18
False      Hamburg   22    12
True       London    23    15
False      London     8    18
           Paris    117    16
True       Paris     65    13
           Paris      6    16

In [ ]:
dtfmi=dtf.set_index(['Conditions','Cities'])

In [ ]:
dtfmi

                    Ali  Hady
Conditions Cities
True       Beirut   117    17
           Beirut    11    11
           Beirut     9    19
False      Beirut     9    19
           Beirut     5    15
True       Beirut     3    13
           Hamburg  200    18
False      Hamburg   22    12
True       London    23    15
False      London     8    18
           Paris    117    16
True       Paris     65    13
           Paris      6    16

In [ ]:
dtfmi.groupby(level=1).value_counts()
#level 1 for multi-index is inner index, which is cities
# counts the number of times ahc value appears, so for Beirut, Ali , 9 appears 2 times

Cities   Ali  Hady
Beirut   9    19      2
         3    13      1
         5    15      1
         11   11      1
         117  17      1
Hamburg  22   12      1
         200  18      1
London   8    18      1
         23   15      1
Paris    6    16      1
         65   13      1
         117  16      1
dtype: int64

In [ ]:
dtfmi.groupby(level=1).sum()

         Ali  Hady
Cities
Beirut   154    94
Hamburg  222    30
London    31    33
Paris    188    45

In [ ]:
dtf

    Ali  Hady   Cities Conditions
6   117    17   Beirut       True
0    11    11   Beirut       True
8     9    19   Beirut       True
9     9    19   Beirut      False
4     5    15   Beirut      False
2     3    13   Beirut       True
12  200    18  Hamburg       True
1    22    12  Hamburg      False
11   23    15   London       True
7     8    18   London      False
10  117    16    Paris      False
3    65    13    Paris       True
5     6    16    Paris       True

In [ ]:
dtf['shift_Cities_1']=dtf.groupby('Cities')['Cities'].shift(-1)
# This is the code i have been using to create my momentum strategy trades.
#groupt by cities, then shift the cities columns

In [ ]:
dtf['shift_Ali_1']=dtf.groupby('Cities')['Ali'].shift(1)
dtf['shift_Hady_1']=dtf.groupby('Cities')['Hady'].shift(-1)

In [ ]:
dtf

    Ali  Hady   Cities Conditions shift_Cities_1  shift_Ali_1  shift_Hady_1
6   117    17   Beirut       True         Beirut          NaN          11.0
0    11    11   Beirut       True         Beirut        117.0          19.0
8     9    19   Beirut       True         Beirut         11.0          19.0
9     9    19   Beirut      False         Beirut          9.0          15.0
4     5    15   Beirut      False         Beirut          9.0          13.0
2     3    13   Beirut       True            NaN          5.0           NaN
12  200    18  Hamburg       True        Hamburg          NaN          12.0
1    22    12  Hamburg      False            NaN        200.0           NaN
11   23    15   London       True         London          NaN          18.0
7     8    18   London      False            NaN         23.0           NaN
10  117    16    Paris      False          Paris          NaN          13.0
3    65    13    Paris       True          Paris        117.0          16.0
5     6    16    Paris       True            NaN         65.0           NaN

In [ ]:
dtf.groupby('Cities').mean()

<ipython-input-20-77c3d3d323b0>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  dtf.groupby('Cities').mean()

                Ali       Hady
Cities
Beirut    25.666667  15.666667
Hamburg  111.000000  15.000000
London    15.500000  16.500000
Paris     62.666667  15.000000

In [ ]:
dtf.groupby('Cities').sum()

<ipython-input-21-5c18a93ba679>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  dtf.groupby('Cities').sum()

         Ali  Hady
Cities
Beirut   154    94
Hamburg  222    30
London    31    33
Paris    188    45

In [ ]:
dtf['Rank_Hady']=dtf.groupby('Cities')['Hady'].rank(ascending='True')
# This is the correct way becasue you grouping by cities ranks Hady per cities, and the rankign starts again

In [ ]:
#this is wrong
dtf['Incorrect_Rank_Hady']=dtf['Hady'].rank(ascending='True')
#becasue it will rank teh hoel dataframe as one rank, not Hady per city

In [ ]:
dtf
# This is critical code.. group by first before assigning Rank

,Ali,Hady,Cities,Conditions,shift_Cities_1,shift_Ali_1,shift_Hady_1,Rank_Hady,Incorrect_Rank_Hady
6,117,17,Beirut,True,Beirut,NaN,11.0,4.0,9.0
0,11,11,Beirut,True,Beirut,117.0,19.0,1.0,1.0
8,9,19,Beirut,True,Beirut,11.0,19.0,5.5,12.5
9,9,19,Beirut,False,Beirut,9.0,15.0,5.5,12.5
4,5,15,Beirut,False,Beirut,9.0,13.0,3.0,5.5
2,3,13,Beirut,True,NaN,5.0,NaN,2.0,3.5
12,200,18,Hamburg,True,Hamburg,NaN,12.0,2.0,10.5
1,22,12,Hamburg,False,NaN,200.0,NaN,1.0,2.0
11,23,15,London,True,London,NaN,18.0,1.0,5.5
7,8,18,London,False,NaN,23.0,NaN,2.0,10.5
10,117,16,Paris,False,Paris,NaN,13.0,2.5,7.5
3,65,13,Paris,True,Paris,117.0,16.0,1.0,3.5
5,6,16,Paris,True,NaN,65.0,NaN,2.5,7.5

In [ ]:
dtf.set_index(['Conditions','Cities'])

                    Ali  Hady shift_Cities_1  shift_Ali_1  shift_Hady_1  \
Conditions Cities
True       Beirut   117    17         Beirut          NaN          11.0
           Beirut    11    11         Beirut        117.0          19.0
           Beirut     9    19         Beirut         11.0          19.0
False      Beirut     9    19         Beirut          9.0          15.0
           Beirut     5    15         Beirut          9.0          13.0
True       Beirut     3    13            NaN          5.0           NaN
           Hamburg  200    18        Hamburg          NaN          12.0
False      Hamburg   22    12            NaN        200.0           NaN
True       London    23    15         London          NaN          18.0
False      London     8    18            NaN         23.0           NaN
           Paris    117    16          Paris          NaN          13.0
True       Paris     65    13          Paris        117.0          16.0
           Paris      6    16            NaN         65.0           NaN

                    Rank_Hady  Incorrect_Rank_Hady
Conditions Cities
True       Beirut         4.0                  9.0
           Beirut         1.0                  1.0
           Beirut         5.5                 12.5
False      Beirut         5.5                 12.5
           Beirut         3.0                  5.5
True       Beirut         2.0                  3.5
           Hamburg        2.0                 10.5
False      Hamburg        1.0                  2.0
True       London         1.0                  5.5
False      London         2.0                 10.5
           Paris          2.5                  7.5
True       Paris          1.0                  3.5
           Paris          2.5                  7.5

In [ ]:
dx=dtf.set_index(['Conditions','Cities'])

In [ ]:
dx

                    Ali  Hady shift_Cities_1  shift_Ali_1  shift_Hady_1  \
Conditions Cities
True       Beirut   117    17         Beirut          NaN          11.0
           Beirut    11    11         Beirut        117.0          19.0
           Beirut     9    19         Beirut         11.0          19.0
False      Beirut     9    19         Beirut          9.0          15.0
           Beirut     5    15         Beirut          9.0          13.0
True       Beirut     3    13            NaN          5.0           NaN
           Hamburg  200    18        Hamburg          NaN          12.0
False      Hamburg   22    12            NaN        200.0           NaN
True       London    23    15         London          NaN          18.0
False      London     8    18            NaN         23.0           NaN
           Paris    117    16          Paris          NaN          13.0
True       Paris     65    13          Paris        117.0          16.0
           Paris      6    16            NaN         65.0           NaN

                    Rank_Hady  Incorrect_Rank_Hady
Conditions Cities
True       Beirut         4.0                  9.0
           Beirut         1.0                  1.0
           Beirut         5.5                 12.5
False      Beirut         5.5                 12.5
           Beirut         3.0                  5.5
True       Beirut         2.0                  3.5
           Hamburg        2.0                 10.5
False      Hamburg        1.0                  2.0
True       London         1.0                  5.5
False      London         2.0                 10.5
           Paris          2.5                  7.5
True       Paris          1.0                  3.5
           Paris          2.5                  7.5

In [ ]:
dx.groupby(level=0).mean()

<ipython-input-36-ee03ac9e7c20>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  dx.groupby(level=0).mean()

,Ali,Hady,shift_Ali_1,shift_Hady_1,Rank_Hady,Incorrect_Rank_Hady
Conditions,,,,,,
False,32.20,16.00,60.25,13.666667,2.800,7.600
True,54.25,15.25,63.00,15.833333,2.375,6.625

In [ ]:
dx.groupby(level=0).sum()

<ipython-input-37-a7e95d145850>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  dx.groupby(level=0).sum()

,Ali,Hady,shift_Ali_1,shift_Hady_1,Rank_Hady,Incorrect_Rank_Hady
Conditions,,,,,,
False,161,80,241.0,41.0,14.0,38.0
True,434,122,315.0,95.0,19.0,53.0

In [ ]:
dx.loc['False']

,Ali,Hady,shift_Cities_1,shift_Ali_1,shift_Hady_1,Rank_Hady,Incorrect_Rank_Hady
Cities,,,,,,,
Beirut,9,19,Beirut,9.0,15.0,5.5,12.5
Beirut,5,15,Beirut,9.0,13.0,3.0,5.5
Hamburg,22,12,NaN,200.0,NaN,1.0,2.0
London,8,18,NaN,23.0,NaN,2.0,10.5
Paris,117,16,Paris,NaN,13.0,2.5,7.5

In [ ]:
dx.loc[('False','Beirut'),:]

<ipython-input-39-8b0ccbb59ab5>:1: PerformanceWarning: indexing past lexsort depth may impact performance.
  dx.loc[('False','Beirut'),:]

                   Ali  Hady shift_Cities_1  shift_Ali_1  shift_Hady_1  \
Conditions Cities
False      Beirut    9    19         Beirut          9.0          15.0
           Beirut    5    15         Beirut          9.0          13.0

                   Rank_Hady  Incorrect_Rank_Hady
Conditions Cities
False      Beirut        5.5                 12.5
           Beirut        3.0                  5.5

In [ ]:
dx.loc[('False',slice(None)),:]
# looks very similar to dx.loc['False'] in terms of data, just teh shape slightly different , but output identical

                    Ali  Hady shift_Cities_1  shift_Ali_1  shift_Hady_1  \
Conditions Cities
False      Beirut     9    19         Beirut          9.0          15.0
           Beirut     5    15         Beirut          9.0          13.0
           Hamburg   22    12            NaN        200.0           NaN
           London     8    18            NaN         23.0           NaN
           Paris    117    16          Paris          NaN          13.0

                    Rank_Hady  Incorrect_Rank_Hady
Conditions Cities
False      Beirut         5.5                 12.5
           Beirut         3.0                  5.5
           Hamburg        1.0                  2.0
           London         2.0                 10.5
           Paris          2.5                  7.5

In [ ]:
dw=dtf.copy()

In [ ]:
dw.reset_index(drop=True, inplace=True)

In [ ]:
dw

,Ali,Hady,Cities,Conditions,shift_Cities_1,shift_Ali_1,shift_Hady_1,Rank_Hady,Incorrect_Rank_Hady
0,117,17,Beirut,True,Beirut,NaN,11.0,4.0,9.0
1,11,11,Beirut,True,Beirut,117.0,19.0,1.0,1.0
2,9,19,Beirut,True,Beirut,11.0,19.0,5.5,12.5
3,9,19,Beirut,False,Beirut,9.0,15.0,5.5,12.5
4,5,15,Beirut,False,Beirut,9.0,13.0,3.0,5.5
5,3,13,Beirut,True,NaN,5.0,NaN,2.0,3.5
6,200,18,Hamburg,True,Hamburg,NaN,12.0,2.0,10.5
7,22,12,Hamburg,False,NaN,200.0,NaN,1.0,2.0
8,23,15,London,True,London,NaN,18.0,1.0,5.5
9,8,18,London,False,NaN,23.0,NaN,2.0,10.5
10,117,16,Paris,False,Paris,NaN,13.0,2.5,7.5
11,65,13,Paris,True,Paris,117.0,16.0,1.0,3.5
12,6,16,Paris,True,NaN,65.0,NaN,2.5,7.5

In [ ]:
dw['dw_Shit_Ali_value_1']=dw.groupby('Cities')['Ali'].shift(-1)

In [ ]:
dw

,Ali,Hady,Cities,Conditions,shift_Cities_1,shift_Ali_1,shift_Hady_1,Rank_Hady,Incorrect_Rank_Hady,dw_Shit_Ali_value_1
0,117,17,Beirut,True,Beirut,NaN,11.0,4.0,9.0,11.0
1,11,11,Beirut,True,Beirut,117.0,19.0,1.0,1.0,9.0
2,9,19,Beirut,True,Beirut,11.0,19.0,5.5,12.5,9.0
3,9,19,Beirut,False,Beirut,9.0,15.0,5.5,12.5,5.0
4,5,15,Beirut,False,Beirut,9.0,13.0,3.0,5.5,3.0
5,3,13,Beirut,True,NaN,5.0,NaN,2.0,3.5,NaN
6,200,18,Hamburg,True,Hamburg,NaN,12.0,2.0,10.5,22.0
7,22,12,Hamburg,False,NaN,200.0,NaN,1.0,2.0,NaN
8,23,15,London,True,London,NaN,18.0,1.0,5.5,8.0
9,8,18,London,False,NaN,23.0,NaN,2.0,10.5,NaN
10,117,16,Paris,False,Paris,NaN,13.0,2.5,7.5,65.0
11,65,13,Paris,True,Paris,117.0,16.0,1.0,3.5,6.0
12,6,16,Paris,True,NaN,65.0,NaN,2.5,7.5,NaN

In [ ]:
#wrong code again
#it is ranking the whoel column..
#need to rank it by Cities
dw['dw_Incorrect_Rank_Shit_Ali_value-1']=dw['dw_Shit_Ali_value_1'].rank(ascending=True)

In [ ]:
dw['dw_Rank_Shit_Ali_value-1']=dw.groupby('Cities')['Hady'].rank(ascending=False)

In [ ]:
dw

,Ali,Hady,Cities,Conditions,shift_Cities_1,shift_Ali_1,shift_Hady_1,Rank_Hady,Incorrect_Rank_Hady,dw_Shit_Ali_value_1,dw_Incorrect_Rank_Shit_Ali_value-1,dw_Rank_Shit_Ali_value-1
0,117,17,Beirut,True,Beirut,NaN,11.0,4.0,9.0,11.0,7.0,3.0
1,11,11,Beirut,True,Beirut,117.0,19.0,1.0,1.0,9.0,5.5,6.0
2,9,19,Beirut,True,Beirut,11.0,19.0,5.5,12.5,9.0,5.5,1.5
3,9,19,Beirut,False,Beirut,9.0,15.0,5.5,12.5,5.0,2.0,1.5
4,5,15,Beirut,False,Beirut,9.0,13.0,3.0,5.5,3.0,1.0,4.0
5,3,13,Beirut,True,NaN,5.0,NaN,2.0,3.5,NaN,NaN,5.0
6,200,18,Hamburg,True,Hamburg,NaN,12.0,2.0,10.5,22.0,8.0,1.0
7,22,12,Hamburg,False,NaN,200.0,NaN,1.0,2.0,NaN,NaN,2.0
8,23,15,London,True,London,NaN,18.0,1.0,5.5,8.0,4.0,2.0
9,8,18,London,False,NaN,23.0,NaN,2.0,10.5,NaN,NaN,1.0
10,117,16,Paris,False,Paris,NaN,13.0,2.5,7.5,65.0,9.0,1.5
11,65,13,Paris,True,Paris,117.0,16.0,1.0,3.5,6.0,3.0,3.0
12,6,16,Paris,True,NaN,65.0,NaN,2.5,7.5,NaN,NaN,1.5

In [ ]:
test.isnull().sum()

Ali           0
Hady          0
Cities        0
Conditions    0
dtype: int64

In [ ]:
test['Cities'].unique()

array(['Beirut', 'Hamburg', 'Paris', 'London'], dtype=object)

In [ ]:
test['Cities']

0      Beirut
1     Hamburg
2      Beirut
3       Paris
4      Beirut
5       Paris
6      Beirut
7      London
8      Beirut
9      Beirut
10      Paris
11     London
12    Hamburg
Name: Cities, dtype: object

In [ ]:
test

    Ali  Hady   Cities Conditions
0    11    11   Beirut       True
1    22    12  Hamburg      False
2     3    13   Beirut       True
3    65    13    Paris       True
4     5    15   Beirut      False
5     6    16    Paris       True
6   117    17   Beirut       True
7     8    18   London      False
8     9    19   Beirut       True
9     9    19   Beirut      False
10  117    16    Paris      False
11   23    15   London       True
12  200    18  Hamburg       True

In [ ]:
test['Cities'].isin(['Beirut'])
# matching for specific conditions in rows

0      True
1     False
2      True
3     False
4      True
5     False
6      True
7     False
8      True
9      True
10    False
11    False
12    False
Name: Cities, dtype: bool

In [ ]:
test[test['Cities'].isin(['Beirut'])]

   Ali  Hady  Cities Conditions
0   11    11  Beirut       True
2    3    13  Beirut       True
4    5    15  Beirut      False
6  117    17  Beirut       True
8    9    19  Beirut       True
9    9    19  Beirut      False

In [ ]:
#By rows
test[test['Cities'].isin(['London','Hamburg','Paris'])]
#notice, we filtered out Beirut

    Ali  Hady   Cities Conditions
1    22    12  Hamburg      False
3    65    13    Paris       True
5     6    16    Paris       True
7     8    18   London      False
10  117    16    Paris      False
11   23    15   London       True
12  200    18  Hamburg       True

In [ ]:
# By rows
test[test['Cities'].isin(['London','Hamburg','Paris'])][['Ali','Conditions']]
#filtering by rows, and adding further filters by columns

    Ali Conditions
1    22      False
3    65       True
5     6       True
7     8      False
10  117      False
11   23       True
12  200       True

In [ ]:
#By Columns
test.query('Cities=="Beirut" & Conditions=="False"')

   Ali  Hady  Cities Conditions
4    5    15  Beirut      False
9    9    19  Beirut      False

In [ ]:
test.query('Cities=="Beirut" & Conditions=="True"')
# alays use query when you can.. it's the cleanest code . query is used to filter columns

   Ali  Hady  Cities Conditions
0   11    11  Beirut       True
2    3    13  Beirut       True
6  117    17  Beirut       True
8    9    19  Beirut       True

In [ ]:
test[test['Cities'].isin(['Beirut'])]

   Ali  Hady  Cities Conditions
0   11    11  Beirut       True
2    3    13  Beirut       True
4    5    15  Beirut      False
6  117    17  Beirut       True
8    9    19  Beirut       True
9    9    19  Beirut      False

In [ ]:
test['Hady_sum']=test[test['Cities'].isin(['Beirut'])]['Hady'].sum()

In [ ]:
test[test['Cities'].isin(['Beirut','Hamburg'])]

    Ali  Hady   Cities Conditions  Hady_sum
0    11    11   Beirut       True        94
1    22    12  Hamburg      False        94
2     3    13   Beirut       True        94
4     5    15   Beirut      False        94
6   117    17   Beirut       True        94
8     9    19   Beirut       True        94
9     9    19   Beirut      False        94
12  200    18  Hamburg       True        94

In [ ]:
# This is sum the whole dataframe 'test' columns
test[test['Cities'].isin(['Beirut','Hamburg'])].sum()

Ali                                                         376
Hady                                                        124
Cities        BeirutHamburgBeirutBeirutBeirutBeirutBeirutHam...
Conditions                  TrueFalseTrueFalseTrueTrueFalseTrue
Hady_sum                                                    752
dtype: object

In [ ]:
# This is for the 2 columns only ['ali','Hady']] in the dataframe 'test'
test[test['Cities'].isin(['Beirut','Hamburg'])][['Ali','Hady']].sum()

Ali     376
Hady    124
dtype: int64

In [ ]:
test[test['Cities'].isin(['Beirut','Hamburg'])][['Ali','Hady']].apply(['sum','count']).T

      sum  count
Ali   376      8
Hady  124      8

In [ ]:
test[test['Cities'].isin(['Beirut','London'])]['Hady'].value_counts()

15    2
19    2
11    1
13    1
17    1
18    1
Name: Hady, dtype: int64

In [ ]:
test.groupby('Cities')['Hady']

In [ ]:
test.groupby('Cities')['Hady'].count()

Cities
Beirut     6
Hamburg    2
London     2
Paris      3
Name: Hady, dtype: int64

In [ ]:
test.groupby('Cities')['Hady'].sum()

Cities
Beirut     94
Hamburg    30
London     33
Paris      45
Name: Hady, dtype: int64

In [ ]:
test.groupby('Cities')['Hady'].transform(sum)

0     94
1     30
2     94
3     45
4     94
5     45
6     94
7     33
8     94
9     94
10    45
11    33
12    30
Name: Hady, dtype: int64

In [ ]:
test['groupby_Cities_Hady_transform_sum']=test.groupby('Cities')['Hady'].transform(sum)

In [ ]:
test

    Ali  Hady   Cities Conditions  Hady_sum  groupby_Cities_Hady_transform_sum
0    11    11   Beirut       True        94                                 94
1    22    12  Hamburg      False        94                                 30
2     3    13   Beirut       True        94                                 94
3    65    13    Paris       True        94                                 45
4     5    15   Beirut      False        94                                 94
5     6    16    Paris       True        94                                 45
6   117    17   Beirut       True        94                                 94
7     8    18   London      False        94                                 33
8     9    19   Beirut       True        94                                 94
9     9    19   Beirut      False        94                                 94
10  117    16    Paris      False        94                                 45
11   23    15   London       True        94                                 33
12  200    18  Hamburg       True        94                                 30

In [ ]:
test[test['Cities'].isin(['Beirut','Hamburg'])]['Hady'].sum()

124

In [ ]:
test.groupby('Conditions')['Hady'].sum()

Conditions
False     80
True     122
Name: Hady, dtype: int64

In [ ]:
test.groupby('Conditions')['Hady'].count()

Conditions
False    5
True     8
Name: Hady, dtype: int64

In [ ]:
test.groupby('Cities')['Hady'].count()

Cities
Beirut     6
Hamburg    2
London     2
Paris      3
Name: Hady, dtype: int64

In [ ]:
# this code is very important.. It is critical !!!
test[test['Hady']>14].groupby('Cities')['Hady'].count()

Cities
Beirut     4
Hamburg    1
London     2
Paris      2
Name: Hady, dtype: int64

In [ ]:
test['Hady_sum']=test[test['Cities'].isin(['Beirut'])]['Hady'].sum()

In [ ]:
test

    Ali  Hady   Cities Conditions  Hady_sum  groupby_Cities_Hady_transform_sum
0    11    11   Beirut       True        94                                 94
1    22    12  Hamburg      False        94                                 30
2     3    13   Beirut       True        94                                 94
3    65    13    Paris       True        94                                 45
4     5    15   Beirut      False        94                                 94
5     6    16    Paris       True        94                                 45
6   117    17   Beirut       True        94                                 94
7     8    18   London      False        94                                 33
8     9    19   Beirut       True        94                                 94
9     9    19   Beirut      False        94                                 94
10  117    16    Paris      False        94                                 45
11   23    15   London       True        94                                 33
12  200    18  Hamburg       True        94                                 30

In [ ]:
test.set_index('Cities')

         Ali  Hady Conditions  Hady_sum  groupby_Cities_Hady_transform_sum
Cities
Beirut    11    11       True        94                                 94
Hamburg   22    12      False        94                                 30
Beirut     3    13       True        94                                 94
Paris     65    13       True        94                                 45
Beirut     5    15      False        94                                 94
Paris      6    16       True        94                                 45
Beirut   117    17       True        94                                 94
London     8    18      False        94                                 33
Beirut     9    19       True        94                                 94
Beirut     9    19      False        94                                 94
Paris    117    16      False        94                                 45
London    23    15       True        94                                 33
Hamburg  200    18       True        94                                 30

In [ ]:
test[test.index.isin(['Beirut','Paris'])]

Empty DataFrame
Columns: [Ali, Hady, Cities, Conditions, Hady_sum, groupby_Cities_Hady_transform_sum]
Index: []

In [ ]:
test.index.isin(['Beirut','Paris'])

array([False, False, False, False, False, False, False, False, False,
       False, False, False, False])

In [ ]:
test=test.reset_index()
test

,index,Ali,Hady,Cities,Conditions,Hady_sum,groupby_Cities_Hady_transform_sum
0,0,11,11,Beirut,True,94,94
1,1,22,12,Hamburg,False,94,30
2,2,3,13,Beirut,True,94,94
3,3,65,13,Paris,True,94,45
4,4,5,15,Beirut,False,94,94
5,5,6,16,Paris,True,94,45
6,6,117,17,Beirut,True,94,94
7,7,8,18,London,False,94,33
8,8,9,19,Beirut,True,94,94
9,9,9,19,Beirut,False,94,94
10,10,117,16,Paris,False,94,45
11,11,23,15,London,True,94,33
12,12,200,18,Hamburg,True,94,30

In [ ]:
test[test['Cities'].isin(['Beirut','Paris'])]

,index,Ali,Hady,Cities,Conditions,Hady_sum,groupby_Cities_Hady_transform_sum
0,0,11,11,Beirut,True,94,94
2,2,3,13,Beirut,True,94,94
3,3,65,13,Paris,True,94,45
4,4,5,15,Beirut,False,94,94
5,5,6,16,Paris,True,94,45
6,6,117,17,Beirut,True,94,94
8,8,9,19,Beirut,True,94,94
9,9,9,19,Beirut,False,94,94
10,10,117,16,Paris,False,94,45

In [ ]:
test_ind_2=test.set_index(['Cities','Hady'])

print(test_ind_2)

              index  Ali Conditions  Hady_sum  \
Cities  Hady
Beirut  11        0   11       True        94
Hamburg 12        1   22      False        94
Beirut  13        2    3       True        94
Paris   13        3   65       True        94
Beirut  15        4    5      False        94
Paris   16        5    6       True        94
Beirut  17        6  117       True        94
London  18        7    8      False        94
Beirut  19        8    9       True        94
        19        9    9      False        94
Paris   16       10  117      False        94
London  15       11   23       True        94
Hamburg 18       12  200       True        94

              groupby_Cities_Hady_transform_sum
Cities  Hady
Beirut  11                                   94
Hamburg 12                                   30
Beirut  13                                   94
Paris   13                                   45
Beirut  15                                   94
Paris   16                                   45
Beirut  17                                   94
London  18                                   33
Beirut  19                                   94
        19                                   94
Paris   16                                   45
London  15                                   33
Hamburg 18                                   30

In [ ]:
test_ind_2

              index  Ali Conditions  Hady_sum  \
Cities  Hady
Beirut  11        0   11       True        94
Hamburg 12        1   22      False        94
Beirut  13        2    3       True        94
Paris   13        3   65       True        94
Beirut  15        4    5      False        94
Paris   16        5    6       True        94
Beirut  17        6  117       True        94
London  18        7    8      False        94
Beirut  19        8    9       True        94
        19        9    9      False        94
Paris   16       10  117      False        94
London  15       11   23       True        94
Hamburg 18       12  200       True        94

              groupby_Cities_Hady_transform_sum
Cities  Hady
Beirut  11                                   94
Hamburg 12                                   30
Beirut  13                                   94
Paris   13                                   45
Beirut  15                                   94
Paris   16                                   45
Beirut  17                                   94
London  18                                   33
Beirut  19                                   94
        19                                   94
Paris   16                                   45
London  15                                   33
Hamburg 18                                   30

In [ ]:
test_ind_2.loc[['Beirut','Paris']]

             index  Ali Conditions  Hady_sum  \
Cities Hady
Beirut 11        0   11       True        94
       13        2    3       True        94
       15        4    5      False        94
       17        6  117       True        94
       19        8    9       True        94
       19        9    9      False        94
Paris  13        3   65       True        94
       16        5    6       True        94
       16       10  117      False        94

             groupby_Cities_Hady_transform_sum
Cities Hady
Beirut 11                                   94
       13                                   94
       15                                   94
       17                                   94
       19                                   94
       19                                   94
Paris  13                                   45
       16                                   45
       16                                   45

In [ ]:
test_ind_2.loc[[('Beirut',11),('Paris',13)]]

,,index,Ali,Conditions,Hady_sum,groupby_Cities_Hady_transform_sum
Cities,Hady,,,,,
Beirut,11,0,11,True,94,94
Paris,13,3,65,True,94,45

In [ ]:
test_ind_2.sort_index()

              index  Ali Conditions  Hady_sum  \
Cities  Hady
Beirut  11        0   11       True        94
        13        2    3       True        94
        15        4    5      False        94
        17        6  117       True        94
        19        8    9       True        94
        19        9    9      False        94
Hamburg 12        1   22      False        94
        18       12  200       True        94
London  15       11   23       True        94
        18        7    8      False        94
Paris   13        3   65       True        94
        16        5    6       True        94
        16       10  117      False        94

              groupby_Cities_Hady_transform_sum
Cities  Hady
Beirut  11                                   94
        13                                   94
        15                                   94
        17                                   94
        19                                   94
        19                                   94
Hamburg 12                                   30
        18                                   30
London  15                                   33
        18                                   33
Paris   13                                   45
        16                                   45
        16                                   45

In [ ]:
test[2:8]
#how cool is that

,index,Ali,Hady,Cities,Conditions,Hady_sum,groupby_Cities_Hady_transform_sum
2,2,3,13,Beirut,True,94,94
3,3,65,13,Paris,True,94,45
4,4,5,15,Beirut,False,94,94
5,5,6,16,Paris,True,94,45
6,6,117,17,Beirut,True,94,94
7,7,8,18,London,False,94,33

In [ ]:
test[4:6]

,index,Ali,Hady,Cities,Conditions,Hady_sum,groupby_Cities_Hady_transform_sum
4,4,5,15,Beirut,False,94,94
5,5,6,16,Paris,True,94,45

In [ ]:
test2=test.copy()

In [ ]:
x=pd.DataFrame({'Nan':[5,6,None,7,8,9,None,None,None]})

In [ ]:
x

   Nan
0  5.0
1  6.0
2  NaN
3  7.0
4  8.0
5  9.0
6  NaN
7  NaN
8  NaN

In [ ]:
test2['x']=x

In [ ]:
test

    Ali  Hady   Cities Conditions  Hady_sum
0    11    11   Beirut       True        94
1    22    12  Hamburg      False        94
2     3    13   Beirut       True        94
3    65    13    Paris       True        94
4     5    15   Beirut      False        94
5     6    16    Paris       True        94
6   117    17   Beirut       True        94
7     8    18   London      False        94
8     9    19   Beirut       True        94
9     9    19   Beirut      False        94
10  117    16    Paris      False        94
11   23    15   London       True        94
12  200    18  Hamburg       True        94

In [ ]:
test['x']=[1,2,3,4,5,6,7,8,9,10,11,12,13]
test['y']=[10,11,12,13,14,15,16,17,18,19,20,21,22]

In [ ]:
z=[20,22,33]

In [ ]:
test['z']=pd.Series(z)

In [ ]:
test

    Ali  Hady   Cities Conditions  Hady_sum   x   y     z
0    11    11   Beirut       True        94   1  10  20.0
1    22    12  Hamburg      False        94   2  11  22.0
2     3    13   Beirut       True        94   3  12  33.0
3    65    13    Paris       True        94   4  13   NaN
4     5    15   Beirut      False        94   5  14   NaN
5     6    16    Paris       True        94   6  15   NaN
6   117    17   Beirut       True        94   7  16   NaN
7     8    18   London      False        94   8  17   NaN
8     9    19   Beirut       True        94   9  18   NaN
9     9    19   Beirut      False        94  10  19   NaN
10  117    16    Paris      False        94  11  20   NaN
11   23    15   London       True        94  12  21   NaN
12  200    18  Hamburg       True        94  13  22   NaN

In [ ]:
test2

    Ali  Hady   Cities Conditions  Hady_sum    x
0    11    11   Beirut       True        94  5.0
1    22    12  Hamburg      False        94  6.0
2     3    13   Beirut       True        94  NaN
3    65    13    Paris       True        94  7.0
4     5    15   Beirut      False        94  8.0
5     6    16    Paris       True        94  9.0
6   117    17   Beirut       True        94  NaN
7     8    18   London      False        94  NaN
8     9    19   Beirut       True        94  NaN
9     9    19   Beirut      False        94  NaN
10  117    16    Paris      False        94  NaN
11   23    15   London       True        94  NaN
12  200    18  Hamburg       True        94  NaN

In [ ]:
test2['z']=range(0,len(test2))
w=[1,2,3]
test2['w']=pd.Series(w)
test['w']=range(100,100+len(test))

In [ ]:
test2

    Ali  Hady   Cities Conditions  Hady_sum    x   z    w
0    11    11   Beirut       True        94  5.0   0  1.0
1    22    12  Hamburg      False        94  6.0   1  2.0
2     3    13   Beirut       True        94  NaN   2  3.0
3    65    13    Paris       True        94  7.0   3  NaN
4     5    15   Beirut      False        94  8.0   4  NaN
5     6    16    Paris       True        94  9.0   5  NaN
6   117    17   Beirut       True        94  NaN   6  NaN
7     8    18   London      False        94  NaN   7  NaN
8     9    19   Beirut       True        94  NaN   8  NaN
9     9    19   Beirut      False        94  NaN   9  NaN
10  117    16    Paris      False        94  NaN  10  NaN
11   23    15   London       True        94  NaN  11  NaN
12  200    18  Hamburg       True        94  NaN  12  NaN

In [ ]:
test2.combine_first(test)
#boom!!!!!

    Ali   Cities Conditions  Hady  Hady_sum      w     x   y     z
0    11   Beirut       True    11        94    1.0   5.0  10   0.0
1    22  Hamburg      False    12        94    2.0   6.0  11   1.0
2     3   Beirut       True    13        94    3.0   3.0  12   2.0
3    65    Paris       True    13        94  103.0   7.0  13   3.0
4     5   Beirut      False    15        94  104.0   8.0  14   4.0
5     6    Paris       True    16        94  105.0   9.0  15   5.0
6   117   Beirut       True    17        94  106.0   7.0  16   6.0
7     8   London      False    18        94  107.0   8.0  17   7.0
8     9   Beirut       True    19        94  108.0   9.0  18   8.0
9     9   Beirut      False    19        94  109.0  10.0  19   9.0
10  117    Paris      False    16        94  110.0  11.0  20  10.0
11   23   London       True    15        94  111.0  12.0  21  11.0
12  200  Hamburg       True    18        94  112.0  13.0  22  12.0

In [ ]:
test['RSI_3']=[80,75,85,60,90,30,50,81,90,90]
test['ROC_6']=[40,15,20,17,8,30,50,60,49,49]
test

ValueError: ignored

In [ ]:
test.query('RSI_3>80 and ROC_6<50')

In [ ]:
test.query('RSI_3>80 and ROC_6<50').iloc[-1:]

In [ ]:
test.query('RSI_3>80 and ROC_6<50').iloc[-3:]

In [ ]:
test.iloc[-6:,:].query('RSI_3>80 and ROC_6<50')

In [ ]:
test.query('RSI_3>80 and ROC_6<61')

In [ ]:
test.query('RSI_3==90')

In [ ]:
test.query('RSI_3==90 & ROC_6>10')

In [ ]:
trial=test.T
trial

In [ ]:
test.query('RSI_3>80 and Cities=="Beirut"')

In [ ]:
test.columns

In [ ]:
test.groupby('Cities')[['Hady','RSI_3']].sum()

In [ ]:
test.query('RSI_3>80')

In [ ]:
test.iloc[-1]

In [ ]:
type(test.iloc[-1])

In [ ]:
test.iloc[-1:,:]

In [ ]:
test.iloc[-3:,:]

In [ ]:
test.iloc[:3,:]

In [ ]:
type(test.iloc[-1:,:])

In [ ]:
test.query('RSI_3>80 and Cities=="Beirut"')

In [ ]:
test.query('RSI_3>80 and Cities=="Paris"')

In [ ]:
test.query('ali>3')

In [ ]:
test.query('ali<4')

In [ ]:
test.query('Hady<14')

In [ ]:
test.query('ali<9 & Cities=="Beirut"')

In [ ]:
test.query('Hady>13 & Cities=="Beirut"')

In [ ]:
test.query('Cities=="London"')

In [ ]:
test.query('Cities=="Paris"')

In [ ]:
test.sort_values(by='Cities')

In [ ]:
test.sort_values(by='Hady')

In [ ]:
test.sort_values(by='ali',ascending=False)

counts = movies.genre.value_counts()
counts
movies.genre.value_counts().to_frame()
movies.genre.value_counts().to_frame(name='COUNTS')
counts.nlargest(3)

Drama     278
Comedy    156
Action    136
Name: genre, dtype: int64
And all we actually need from this Series is the index:

counts.nlargest(3).index

Index(['Drama', 'Comedy', 'Action'], dtype='object')
Finally, we can pass the index object to isin(), and it will be treated like a list of genres:



#This is gold.. this might be the het for my momentum basket selection .. look into this further
movies[movies.genre.isin(counts.nlargest(3).index)].head()

movies[movies.genre.isin(counts.nlargest(3).index)].groupby('genre').count()

movies[movies.genre.isin(counts.nlargest(3).index)].groupby('genre').value_counts()

The difference between `movies[movies.genre.isin(counts.nlargest(3).index)].groupby('genre').count()` and `movies[movies.genre.isin(counts.nlargest(3).index)].groupby('genre').value_counts()` lies in the type of output they provide:

1. `movies[movies.genre.isin(counts.nlargest(3).index)].groupby('genre').count()`: This code filters the DataFrame based on the genres that have the top 3 largest counts (obtained from `counts.nlargest(3).index`). Then, it groups the filtered DataFrame by the 'genre' column and calculates the count of non-null values in each column for each genre. The result will be a DataFrame where the 'genre' column contains the unique genres, and the other columns show the count of non-null values in each column for each genre.

2. `movies[movies.genre.isin(counts.nlargest(3).index)].groupby('genre').value_counts()`: This code performs a similar filtering operation based on the top 3 genres with the largest counts. However, it applies the `value_counts()` method within each group separately. The `value_counts()` method calculates the frequency/count of unique values within a Series. Since the code is using `groupby('genre')`, it will apply `value_counts()` within each genre group. The result will be a Series where the unique values are the index, and the corresponding counts within each genre group are the values.

In summary, the key difference is that `count()` provides the count of non-null values in each column for each genre group, while `value_counts()` provides the count of unique values within each genre group.
The output format and the information they convey are different, with `count()` returning a DataFrame and `value_counts()` returning a Series.

15. Handle missing values

You'll notice that some of the values are missing.

To find out how many values are missing in each column, you can use the isna() method and then take the sum():

ufo.isna().sum()

City                  25
Colors Reported    15359
Shape Reported      2644
State                  0
Time                   0
dtype: int64
isna() generated a DataFrame of True and False values, and sum() converted all of the True values to 1 and added them up.

Similarly, you can find out the percentage of values that are missing by taking the mean() of isna():


18. Aggregate by multiple functions



orders.order_id==1
print(orders.order_id==1)

0       True
1       True
2       True
3       True
4       True
        ...
4617    True
4618    True
4619    True
4620    True
4621    True
Name: order_id, Length: 4622, dtype: bool

orders[orders.order_id == 1]


order_id	quantity	item_name	choice_description	item_price
0	1	1	Chips and Fresh Tomato Salsa	NaN	2.39
1	1	1	Izze	[Clementine]	3.39
2	1	1	Nantucket Nectar	[Apple]	3.39
3	1	1	Chips and Tomatillo-Green Chili Salsa	NaN	2.39

Each order has an order_id and consists of one or more rows. To figure out the total price of an order, you sum the item_price for that order_id. For example, here's the total price of order number 1:

orders[orders.order_id == 1].item_price.sum()

order_id
,1    11.56
,2    16.98
,3    12.67
,4    21.00
,5    13.70
,Name: item_price, dtype: float64
However, you're not actually limited to aggregating by a single function such as sum(). To aggregate by multiple functions, you use the agg() method and pass it a list of functions such as sum() and count():
orders.groupby('order_id').item_price.agg(['sum', 'count']).head()


, , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , ,
sum	count
order_id
1	11.56	4
2	16.98	1
3	12.67	2
4	21.00	2
5	13.70	2
,



great code

orders.groupby('order_id').item_price.sum().head()

sum() is an aggregation function, which means that it returns a reduced version of the input data.

In other words, the output of the sum() function: is less that the series u are working on

The solution is to use the transform() method, which performs the same calculation but returns output data that is the same shape as the input data:

total_price = orders.groupby('order_id').item_price.transform('sum')
len(total_price)

In [ ]:
import matplotlib.pyplot as plt

x=[5,7,8,7,2,17,2,9,4,11,12,9,6]
y=[99,86,87,88,100,86,103,87,4,78,77,85,86]

plt.scatter(x,y, c="red")

plt.show()

In [ ]:
test.describe('Hady')

# list of all technical indicators availbale in ta-lib are in this website

https://www.programcreek.com/python/index/7769/talib

In [ ]:
?talib.AROON

In [ ]:
dir(talib)

In [ ]:
talib.get_functions()

In [ ]:
talib.get_function_groups()

In [ ]:
talib.get_function_groups()['Momentum Indicators']

In [ ]:
list(talib.get_function_groups().keys())

In [ ]:
!wget http://prdownloads.sourceforge.net/ta-lib/ta-lib-0.4.0-src.tar.gz
!tar -xzvf ta-lib-0.4.0-src.tar.gz
%cd ta-lib
!./configure --prefix=/usr
!make
!make install
!pip install Ta-Lib
import talib

In [ ]:
import yfinance as yf

In [ ]:
!pip install backtesting

In [ ]:
data=yf.download('TSLA', start='2022-01-01')

In [ ]:
data

In [ ]:
type(data)

In [ ]:
aaron=talib.AROONOSC(data['High'], data['Low'], timeperiod=14)

In [ ]:
aaron

In [ ]:
engulfing=talib.CDLENGULFING(data['Open'], data['High'], data['Low'], data['Close'])

In [ ]:
data['Engulfing']=engulfing

In [ ]:
data

In [ ]:
data[data['Engulfing']!=0]

In [ ]:
rsi=talib.RSI(data['Close'])

In [ ]:
data['RSI_Calculation']=rsi

In [ ]:
data

In [ ]:
from talib import abstract

In [ ]:
data

In [ ]:
df=yf.download('MSFT', start='2022-01-01')

In [ ]:
df

In [ ]:
df.rename(columns={'Open':'open', 'High': 'high', 'Low': 'low', 'Adj Close': 'close', 'Volume':'volume'}, inplace=True)

In [ ]:
df.columns

In [ ]:
aroon_abstract=abstract.AROONOSC(df)

In [ ]:
aroon_abstract

In [ ]:
msft_rsi=abstract.RSI(df)

In [ ]:
msft_rsi

In [ ]:
df

In [ ]:
data

In [ ]:
data.query('RSI_Calculation>52')

In [ ]:
import pandas as pd

df = pd.DataFrame({
    'A': ['foo', 'bar', 'foo', 'bar', 'foo', 'bar'],
    'B': ['one', 'one', 'two', 'three', 'two', 'two'],
    'C': [1, 2, 3, 4, 5, 6],
    'D': [10, 20, 30, 40, 50, 60]
})

df

In [ ]:
grouped=df.groupby('A')

In [ ]:
grouped

In [ ]:
# This will return a DataFrame with the same shape as `df`
# but with all values replaced by the mean within each group.
print(grouped.transform('mean'))

In [ ]:
# This will return a DataFrame that has a different shape than `df`,
# containing one row for each group.
print(grouped.apply(lambda x: x.mean()))

In [ ]:
from backtesting import Backtest, Strategy
from backtesting.test import GOOG
from backtesting.lib import crossover

In [ ]:
GOOG

In [ ]:
class RsiOscillator (Strategy):

  upper_bound=70
  lower_bound=30
  rsi_window=14

  def init(self):
    self.rsi=self.I(talib.RSI, self.data.Close, self.rsi_window)


  def next(self):

    if crossover(self.rsi, self.upper_bound):
      self.position.close()

    elif crossover(self.lower_bound, self.rsi):
      self.buy()


bt=Backtest(GOOG, RsiOscillator, cash=1000000)


stats, heatmap =bt.optimize(
    upper_bound=range(50,85,5),
    lower_bound=range(10,45,5),
    rsi_window=14,
    maximize='Sortino Ratio',
    constraint=lambda param: param.upper_bound>param.lower_bound,
    return_heatmap= True

)

In [ ]:
print(stats)

In [ ]:
print(heatmap)

In [ ]:
hm=heatmap.groupby(["upper_bound", "lower_bound"]).mean().unstack()

In [ ]:
hm

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
sns.heatmap(hm, cmap='plasma')
plt.show()

In [ ]:
bt.plot()

In [ ]:
# playign with bactesting main website

In [ ]:
from backtesting import Backtest, Strategy
from backtesting.lib import crossover

from backtesting.test import SMA, GOOG


class SmaCross(Strategy):
    n1 = 10
    n2 = 20

    def init(self):
        close = self.data.Close
        self.sma1 = self.I(SMA, close, self.n1)
        self.sma2 = self.I(SMA, close, self.n2)

    def next(self):
        if crossover(self.sma1, self.sma2):
            self.buy()
        elif crossover(self.sma2, self.sma1):
            self.sell()


bt = Backtest(GOOG, SmaCross,
              cash=10000, commission=.002,
              exclusive_orders=True)

output = bt.run()
bt.plot()

In [ ]:
stats1=bt.run()
print(stats1)

In [ ]:
print(stats['_trades'])

In [ ]:
pd.set_option('display.max_columns', None)

In [ ]:
stats['_trades']

In [ ]:
GOOG

In [ ]:
GOOGL=GOOG

In [ ]:
del(GOOGL['Volume'])

In [ ]:
GOOGL

In [ ]:
GOOGL_sorted = GOOGL.iloc[:, GOOGL.iloc[-1].argsort()]

In [ ]:
GOOGL_sorted